.world-if-article-template__header-container {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  max-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
}

.world-if-article-template__image {
  position: relative;
  width: 100%;
}

.world-if-article-template__header {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.world-if-article-template__header-inner {
  position: relative;
  width: 100%;
}

.world-if-article-template__section-name {
  display: inline-block;
  margin: 0 7.5%;
  padding: 0 12px;
  color: #fff;
  font-family: EconSans;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-transform: uppercase;
  background: #e3120b;
}

.world-if-article-template__flytitle {
  display: block;
  margin: 22px 7.5% 0;
  color: #e3120b;
  font-family: EconSans;
  font-size: 50px;
  font-weight: 300;
  line-height: 44px;
  text-transform: uppercase;
}

.world-if-article-template__title {
  margin: 0 7.5% 30px;
  color: #fff;
  font-family: EconSans;
  font-size: 50px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
}

@media screen and (max-width: 1190px) {
  .world-if-article-template__section-name {
    font-size: 18px;
    line-height: 26px;
  }
  .world-if-article-template__flytitle {
    margin: 20px 7.5% 0;
    font-size: 42px;
    line-height: 38px;
  }
  .world-if-article-template__title {
    margin: 0 7.5% 28px;
    font-size: 42px;
    line-height: 38px;
  }
}

@media screen and (max-width: 790px) {
  .world-if-article-template__header {
    position: static;
    background: none;
  }
  .world-if-article-template__section-name {
    padding: 0 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .world-if-article-template__flytitle {
    margin: 18px 7.5% 0;
    font-size: 40px;
    line-height: 38px;
  }
  .world-if-article-template__title {
    margin: 0 7.5% 26px;
    color: #313131;
    font-size: 40px;
    line-height: 38px;
  }
}

@media screen and (max-width: 560px) {
  .world-if-article-template__section-name {
    padding: 0 8px;
    font-size: 14px;
    line-height: 22px;
  }
  .world-if-article-template__flytitle {
    margin: 18px 7.5% 0;
    font-size: 34px;
    line-height: 32px;
  }
  .world-if-article-template__title {
    margin: 0 7.5% 28.8px;
    font-size: 34px;
    line-height: 32px;
  }
}

.world-if-article-template__subheader {
  width: auto;
  margin: 32px 0 32px;
  padding-top: 0;
  padding-left: 0;
  border-left: 0;
}

.world-if-article-template__pubdate {
  width: 57.9%;
  margin: 0 7.5%;
  color: #38a8e0;
  font-family: EconSans;
  font-size: 14px;
  line-height: 30px;
}

.world-if-article-template__rubric {
  width: 57.9%;
  margin: 0 7.5%;
  color: #313131;
  font-family: EconSans;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

@media screen and (max-width: 860px) {
  .world-if-article-template__pubdate {
    width: auto;
  }
  .world-if-article-template__rubric {
    width: auto;
  }
}

@media screen and (max-width: 790px) {
  .world-if-article-template__subheader {
    margin: 0 0 32px;
  }
}

@media screen and (max-width: 560px) {
  .world-if-article-template__subheader {
    margin: 0 0 28.8px;
  }
  .world-if-article-template__pubdate {
    font-size: 13px;
    line-height: 26.8px;
  }
  .world-if-article-template__rubric {
    font-size: 17px;
    line-height: 26.8px;
  }
}

/* stylelint-disable selector-no-type */

.world-if-article-template__section > p:first-of-type {
  padding: 0;
  border-left: none;
}

.world-if-article-template__section > p:first-of-type::first-letter {
  float: left;
  margin-left: -2px;
  padding-top: 6px;
  padding-right: 6px;
  font-family: EconSans;
  font-size: 65px;
  font-weight: 700;
  line-height: 55px;
}

.world-if-article-template__section p {
  width: 57.9%;
  margin: 0 0 20px 7.5%;
  padding: 0;
  color: #313131;
  font-family: MiloSerifPro;
  font-size: 20px;
  font-style: normal;
  line-height: 32px;

}

/* stylelint-enable selector-no-type */

.world-if-article-template__crossheads {
  width: 57.9%;
  margin: 20px 0 7.5%;
  padding: 0;
}

/* stylelint-disable selector-no-type */

.world-if-article-template__crossheads p {
  font-family: EconSans;
  font-size: 23px;
  font-weight: 700;
}

/* stylelint-enable selector-no-type */

@media screen and (max-width: 860px) {
  /* stylelint-disable selector-no-type */
  .world-if-article-template__section p {
    width: auto;
    margin: 0 7.5% 20px;
  }
  /* stylelint-enable selector-no-type */
}

@media screen and (max-width: 560px) {
  /* stylelint-disable selector-no-type */
  .world-if-article-template__section > p:first-of-type::first-letter {
    padding-top: 2.5px;
    font-size: 57px;
    line-height: 52px;
  }
  .world-if-article-template__section p {
    width: auto;
    margin: 0 7.5% 18px;
    font-size: 18px;
    line-height: 28.8px;
  }
  /* stylelint-enable selector-no-type */
  .world-if-article-template__crossheads {
    width: auto;
    margin: 0 7.5%;
    padding: 0;
  }
  /* stylelint-disable selector-no-type */
  .world-if-article-template__crossheads p {
    font-size: 21px;
  }
  /* stylelint-enable selector-no-type */
}
